@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section.intro-conteudo {
    display: flex;
    background-color: cadetblue;
}

div.bio {
    justify-content: end;
    font-size: 28px;
    padding: 40px;
    font-family: 'Libre Baskerville', serif;
}

div.imag-vang {
    justify-content: flex-start;
    margin-right: 100px;
    padding: 30px;
    border-radius: 40%;
}

section.galeria-conteudo {
    background-color: rgb(116, 223, 228);
    font-size: 30px;
    padding: 40px;
    font-family: 'Libre Baskerville', serif;
    justify-content: center;
}

section.principal-conteudo{
    background-color: lightskyblue;
}